language: android
jdk: oraclejdk8

android:
    components:
      - tools
      - platform-tools
      - tools
      - build-tools-26.0.2
      - android-26
    licenses:
      - 'android-sdk-preview-license-.+'
      - 'android-sdk-license-.+'
      - 'google-gdk-license-.+'
before_script:
    - mkdir -p "$ANDROID_HOME/licenses"
    - cp ./google-licenses/* "$ANDROID_HOME/licenses/"
script:
   - ./gradlew build
before_install:
   - chmod +x gradlew
  
branches:
    only:
        - master
